body {
  overflow: hidden;
}

.spinner-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999999999;
  position: fixed;
  background-color: var(--azul);
  transition: 1.5s ease all;
}

.spinner {
  /* margin: 100px auto; */
  width: 200px;
  position: relative;
  text-align: center;
  animation: beats 1s infinite linear;
  z-index: 999999999;
}

@keyframes beats {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: none;
  }
}
